{% extends 'layout.html.njk' %}

{% if article.id == 0 %}
    {% set title = "Nový článok" %}
{% else %}
    {% set title = "Úprava článku" %}
{% endif %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <form method="post" id="article-form">
        <div class="card card-info mt-2">
            <div class="card card-header">
                {{ title }}
            </div>
            <div class="card-body">
                <input type="hidden" name="id" value="{{ article.id }}">
                <textarea id="content" name="content" hidden>{{ article.content | safe }}</textarea>
                <label for="title">Názov podujatia</label><br>
                <input id="title" class="form-control w-100" name="title" type="text" value="{{ article.title | safe }}">
                <br>
                <label for="content">Kratky opis podujatia</label><br>
                <div id="content-editor" style="height: 300px;">{{ article.content | safe }}</div>
                <br>
                <label for="typPodujatia"> Typ podujatia </label>
                <select id="typPodujatia" name="typPodujatia" class="form-control" required value="{{ article.typPodujatia | safe }}">
                    <option value="Koncert" {% if article.event_type == 'Koncert' %}selected{% endif %}>Koncert</option>
                    <option value="Divadlo" {% if article.event_type == 'Divadlo' %}selected{% endif %}>Divadlo</option>
                    <option value="Iné" {% if article.event_type == 'Iné' %}selected{% endif %}>Iné</option>
                </select>
                <br>
                <label for="datum"> Datum </label>
                <input id="datum" type="date" name="datum" value="{{ article.datum | safe }}">
                <br>
                <label for="miesto"> Miesto </label>
                <input id="miesto" class="form-control w-100" name="miesto" type="text" value="{{ article.miesto | safe }}">
                <br>
                <label for="region"> Region </label>
                <input id="region" class="form-control w-100" name="region" type="text" value="{{ article.region | safe}}">
                <br>


            </div>
            <div class="card-footer">
                <input type="submit" class="btn btn-info" value="Uložiť">
            </div>
        </div>
    </form>
{% endblock %}

{% block footerJS %}
    <!-- Include the Quill library -->
    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const quill = new Quill('#content-editor', {
                theme: 'snow'
            });

            const form = document.getElementById('article-form');

            // Pred osolanim formulara skopirujem obsah editora do skryteho elementu textarea
            form.addEventListener('submit', function () {
                const content = document.getElementById('content');
                content.value = quill.root.innerHTML;
            });
        });
    </script>
{% endblock %}